---
http_interactions:
- request:
    method: get
    uri: https://tckimlik.nvi.gov.tr/Service/KPSPublicYabanciDogrula.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Referer-Policy:
      - no-referer
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://tckimlik.nvi.gov.tr/WS\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://tckimlik.nvi.gov.tr/WS\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://tckimlik.nvi.gov.tr/WS\">\r\n
        \     <s:element name=\"YabanciKimlikNoDogrula\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"KimlikNo\" type=\"s:long\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"Ad\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Soyad\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"DogumGun\" nillable=\"true\" type=\"s:int\"
        />\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"DogumAy\"
        nillable=\"true\" type=\"s:int\" />\r\n            <s:element minOccurs=\"1\"
        maxOccurs=\"1\" name=\"DogumYil\" type=\"s:int\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"YabanciKimlikNoDogrulaResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"YabanciKimlikNoDogrulaResult\" type=\"s:boolean\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \   </s:schema>\r\n  </wsdl:types>\r\n  <wsdl:message name=\"YabanciKimlikNoDogrulaSoapIn\">\r\n
        \   <wsdl:part name=\"parameters\" element=\"tns:YabanciKimlikNoDogrula\"
        />\r\n  </wsdl:message>\r\n  <wsdl:message name=\"YabanciKimlikNoDogrulaSoapOut\">\r\n
        \   <wsdl:part name=\"parameters\" element=\"tns:YabanciKimlikNoDogrulaResponse\"
        />\r\n  </wsdl:message>\r\n  <wsdl:portType name=\"KPSPublicYabanciDogrulaSoap\">\r\n
        \   <wsdl:operation name=\"YabanciKimlikNoDogrula\">\r\n      <wsdl:input
        message=\"tns:YabanciKimlikNoDogrulaSoapIn\" />\r\n      <wsdl:output message=\"tns:YabanciKimlikNoDogrulaSoapOut\"
        />\r\n    </wsdl:operation>\r\n  </wsdl:portType>\r\n  <wsdl:binding name=\"KPSPublicYabanciDogrulaSoap\"
        type=\"tns:KPSPublicYabanciDogrulaSoap\">\r\n    <soap:binding transport=\"http://schemas.xmlsoap.org/soap/http\"
        />\r\n    <wsdl:operation name=\"YabanciKimlikNoDogrula\">\r\n      <soap:operation
        soapAction=\"http://tckimlik.nvi.gov.tr/WS/YabanciKimlikNoDogrula\" style=\"document\"
        />\r\n      <wsdl:input>\r\n        <soap:body use=\"literal\" />\r\n      </wsdl:input>\r\n
        \     <wsdl:output>\r\n        <soap:body use=\"literal\" />\r\n      </wsdl:output>\r\n
        \   </wsdl:operation>\r\n  </wsdl:binding>\r\n  <wsdl:binding name=\"KPSPublicYabanciDogrulaSoap12\"
        type=\"tns:KPSPublicYabanciDogrulaSoap\">\r\n    <soap12:binding transport=\"http://schemas.xmlsoap.org/soap/http\"
        />\r\n    <wsdl:operation name=\"YabanciKimlikNoDogrula\">\r\n      <soap12:operation
        soapAction=\"http://tckimlik.nvi.gov.tr/WS/YabanciKimlikNoDogrula\" style=\"document\"
        />\r\n      <wsdl:input>\r\n        <soap12:body use=\"literal\" />\r\n      </wsdl:input>\r\n
        \     <wsdl:output>\r\n        <soap12:body use=\"literal\" />\r\n      </wsdl:output>\r\n
        \   </wsdl:operation>\r\n  </wsdl:binding>\r\n  <wsdl:service name=\"KPSPublicYabanciDogrula\">\r\n
        \   <wsdl:port name=\"KPSPublicYabanciDogrulaSoap\" binding=\"tns:KPSPublicYabanciDogrulaSoap\">\r\n
        \     <soap:address location=\"https://tckimlik.nvi.gov.tr/Service/KPSPublicYabanciDogrula.asmx\"
        />\r\n    </wsdl:port>\r\n    <wsdl:port name=\"KPSPublicYabanciDogrulaSoap12\"
        binding=\"tns:KPSPublicYabanciDogrulaSoap12\">\r\n      <soap12:address location=\"https://tckimlik.nvi.gov.tr/Service/KPSPublicYabanciDogrula.asmx\"
        />\r\n    </wsdl:port>\r\n  </wsdl:service>\r\n</wsdl:definitions>"
  recorded_at: Fri, 08 Nov 2024 20:44:33 GMT
- request:
    method: post
    uri: https://tckimlik.nvi.gov.tr/Service/KPSPublicYabanciDogrula.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tckimlik.nvi.gov.tr/WS"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><env:Body><tns:YabanciKimlikNoDogrula><tns:KimlikNo>99911494534</tns:KimlikNo><tns:Ad>YUKIHIRO
        MATZ</tns:Ad><tns:Soyad>MATSUMOTO</tns:Soyad><tns:DogumGun>14</tns:DogumGun><tns:DogumAy>4</tns:DogumAy><tns:DogumYil>1965</tns:DogumYil></tns:YabanciKimlikNoDogrula></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tckimlik.nvi.gov.tr/WS/YabanciKimlikNoDogrula"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Referer-Policy:
      - no-referer
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><YabanciKimlikNoDogrulaResponse
        xmlns="http://tckimlik.nvi.gov.tr/WS"><YabanciKimlikNoDogrulaResult>true</YabanciKimlikNoDogrulaResult></YabanciKimlikNoDogrulaResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 08 Nov 2024 20:44:33 GMT
recorded_with: VCR 6.3.1
